body {
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    --principal-color: #aebd86;
    --secundario-color: #98be81;
}

header {
    background-color: var(--principal-color);
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid black;

}
header a{
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.4rem;
    color: #470349;
}
header a:hover{
    opacity: 0.7;
}


section {
    background-color: var(--principal-color);
    padding: 70px;
    margin-top: 70px;
    min-width: 350px;
    border: 1px solid #080000;
    box-shadow: 0 0 10px rgba(8, 206, 111, 0.1);
    border-radius: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin: auto;
    font-size: 1.4rem;
    padding-bottom: 27px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.Name-img{
    border: 1px solid #ccc;
    margin-bottom: 50px;
}

.boton{
    background-color: var(--secundario-color);
    max-width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 40px auto 0 auto;
    color: #000;
    border-radius: 10px;
    border: 1px solid #470349;
    padding: 17px 50px;
}

.boton:hover{
    opacity: 0.8;
}
h1{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
}

.div-imagenes img {
    max-width: 100%;
    height: auto;
    border-radius: 18%;
    box-shadow: 0 0 10px var(--principal-color);
}

.div-imagenes div {
    padding: 10px;
    border-left: 1px solid var(--secundario-color);
    border-right: 1px solid var(--secundario-color);
    text-align: center;
    width: 200px;
}

.div-imagenes p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
